@import './variable.scss';
.footer {
    &-details {
        display: flex;
        justify-content: space-evenly;
        background-color:  $background-color1;
        color: $color2;
        padding: 40px;
    }

    &-information {
        margin-right: 80px;

    }

    &-simplicity {
        margin: 0 80px;

        &__info {
            list-style-type: none;

            &--list {
                text-decoration: underline;
                margin: 20px;
            }
        }
    }

    .summary {
        background-color: $background-color1;
        padding: 10px 60px;
        margin-top: 2px;
        color: $color6;

        &-details {
            max-width: 50%;
        }
    }

    .company {
        &-information {
            background-color: $background-color3;
            padding: 10px 80px;
          
        }

        &-details {
            color: $color2;
            

            &__types {
                display: flex;
                list-style-type: none;
                padding: 0;

                &--terms {
                    color: $color2;
                }

                &--policy {
                margin-left: 10px;
                    background-color: $background-color5;
                    color: $color4;
                    font-size: 0.9rem;
                    padding: 0;
                }
            }
        }
    }
}

.footer-prim-btn {
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
    background-color:$background-color2 ;
}

.footer-sec-btn {
    margin: 20px;
    padding: 10px;
    border: none;
    color: $color4;
    font-size: 1.2rem;
    background-color: transparent;
}

.footer-btn {
    padding: 5px 15px;
    margin: 10px;
    color: $color4;
    background-color: $background-color1;
    border-radius: 10px;
    border: 3px solid $color4;
    font-size: 1.2rem;

}