// ---background color---
$background-color1 : #190766;
$background-color2: #b4d8ed;
$background-color3: #030621;
$background-color4: rgba(44, 44, 247, 0.911);
$background-color5: rgba(0, 0, 0, 0.318);
$background-color6: #333;
$background-color7: white;
$background-color8: rgb(196 191 191 / 10% );
$background-color9:rgb(196 191 191 / 0%);
// $background-color:#61b7e8;

//----colors----

$color1: rgb(98, 91, 91);
$color2: white;
$color3: $background-color3;
$color4: $background-color2;
$color5: $background-color5;
$color6: rgb(236, 230, 230);
$color7: $background-color4;
$color8:rgba(128, 128, 128, 0.642);
$color9:#050768;
$color10:rgba(128, 128, 128, 0.774);



//----font-family
$font-family: sans serif;
$font-family2: "Times New Roman", Times, serif;